:root {
    --accent-color: #2196F3;
    --first-color-text: #757575;
    --secondary-color-text: #000000;
    --third-color-text: #212121;
    --forth-color-text: rgba(255, 255, 255, 0.6);
    --fifth-color-text: #FFFFFF;
    --background-color: #2F303A;
    --secondary-bg-color: #F5F4FA;
    /*secondary font -- font-family: 'Raleway',    sans-serif; */
    /* main font  -- font-family: 'Roboto',    sans-serif; */
}

body {
    font-family: 'Roboto',    sans-serif;
    color: var(--first-color-text);   
    letter-spacing: 0.03em;
}

h1, h2, h3, p, article, ul {
   margin: 0; 
   padding: 0;
}
img {
    display: block;
    max-width: 100%; 
    height: auto;
}

.header {
    border-bottom: 1px solid #ececec;
}
.container {    
    width: 1200px;
    margin-left: auto;
    margin-right: auto;        
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid red; */
}
.header .container {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 93px;

    color: var(--accent-color);
    font-family: 'Raleway';    
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;        
    text-decoration: none;    
}

.header-logo {
    color: var(--secondary-color-text);
}

.list {
    list-style: none;
}

/*navigation */
.contacts{
    margin-left: auto;
}

.nav, 
.contacts {    
    display: flex;  
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;    
}

.nav-item, 
.contacts-item {
    margin-right: 50px;
}

.nav-item:last-child,
.contacts-item:last-child {
    margin-right: 0;
}
.nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--third-color-text);   
    text-decoration: none;   
}

.nav-link:hover:hover, 
.nav-link:focus:focus,
.contacts-link:hover, 
.contacts-link:focus,
.footer-contacts:hover,
.footer-contacts:focus
{
    color: var(--accent-color);    
}

.contacts-link {      
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: auto; 

    color: currentColor;
    text-decoration: none;     
}

.active-menu {
    color: var(--accent-color);
}

/* hero */

.hero {       
    padding-top: 200px;
    padding-bottom: 200px;

    text-align: center;
    background-color: var(--background-color);
}

.hero-title {
    width: 696px;
    margin: 0 auto 30px;
    
    color: var(--fifth-color-text);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;    
    letter-spacing: 0.06em;
    text-transform: uppercase;       
}

.button-hero {
    padding: 10px 32px;

    color: var(--fifth-color-text);
    font-family: inherit;
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;   
    letter-spacing: 0.06em;
    cursor: pointer;
    border-radius: 4px;
    border: 0;    
}

.button-hero:hover,
.button-hero:focus
 {
    background-color: #188CE8;
}

/* sections */
.features {    
    padding-top: 94px;
    padding-bottom: 94px;
}

.features-list {
    display: flex;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-item {
    margin-right: 30px;
    width: 270px;
}

.features-item:last-child {
    margin-right: 0;
}

.section-title {
    margin-bottom: 50px;

    color: var(--third-color-text);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;        
}

.list-title {
    margin-bottom: 10px;

    color: var(--third-color-text); 
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;    
    text-transform: uppercase;    
}

.list-text {    
    font-size: 14px;
    line-height: 1.71;    
}

.examples {
    padding-bottom: 94px;
}
.examples-list {
    display: flex;
}

.examples-item {
    margin-right: 30px;
}

.examples-item:last-child {
    margin-right: 0;
}

.section-team {
    padding-top: 94px;
    padding-bottom: 94px;
    
    background-color: var(--secondary-bg-color);
}

.team-list{
    display: flex;
}

.team-item {
    width: 270px;
    margin-right: 30px;

    text-align: center;    
}

.team-item:last-child {
    margin-right: 0;
}

.team-description {
    padding-top: 30px;
    padding-bottom: 30px;
}

.text-team-position {    
    line-height: 1.18;           
}

.title-team {
    margin-bottom: 10px;

    color: var(--third-color-text);  
    font-weight: 500;    
    font-size: 16px;
    line-height: 1.18;    
}

/* section ends */
/* footer */
.footer {
    padding: 60px 0px;

    background-color: var(--background-color);        
}

.footer-logo-link {
    display: block;
    margin-right: 0;
    margin-bottom: 20px;
}
.footer-logo {
    color: var(--fifth-color-text);    
}

.adress-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-adress,
.footer-contacts {    
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;    
}

.footer-adress {
    margin-bottom: 9px;

    color: var(--fifth-color-text);        
}

.footer-contacts {
    color: var(--forth-color-text);  
    text-decoration: none;
}

/* portfolio*/

.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.filter {
    display: flex;
    justify-content: center;    
    margin-bottom: 50px;    
}

.filter-item {    
    background-color: var(--secondary-bg-color);
}
.filter-item:not(:last-child) {    
    margin-right: 8px;
}

.filter-button{
    padding: 6px 22px;

    font-family: inherit;
    color: var(--third-color-text);
    background-color: transparent;   
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;    
    text-align: center;    
    cursor: pointer;
    border-radius: 4px;
    border: 0;    
}

.active-btn {
    color: var(--fifth-color-text);
    background-color: var(--accent-color);
}

.filter-button:hover,
.filter-button:focus {
    color: var(--fifth-color-text);
    background-color: var(--accent-color);
}

.portfolio-list {
    display: flex;    
    flex-wrap: wrap;
}

.portfolio-item {    
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;    
}

.portfolio-item:nth-child(3n) {
    margin-right: 0;
}

.portfolio-item:nth-last-child(-n+3){
    margin-bottom: 0;
}


.portfolio-link {
    text-decoration: none;    
}

.item-text{
    padding: 20px 24px;

    border: 1px solid #EEEEEE;
    border-top: none;
}
 
.work-title {
    margin-bottom: 4px;

    color: var(--third-color-text);   
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;        
}

.work-description {    
    color: var(--first-color-text);     
    line-height: 1.88;       
}